# Pergunta: Dos países que mais gastam em militar, quanto por cento do pib é?

In [2]:
import pandas as pd

#import basedosdados as bd

In [ ]:
# !pip install basedosdados
# !pip install matplotlib
# !pip install pandas

In [3]:
militaryDf = pd.read_csv("military_expenditure/militaryexpenditure.csv", sep = ";")

In [3]:
economyDf = pd.read_csv("global_economy_indicators.csv")

In [5]:
militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)]

,Name,Code,Type,Indicator Name,year,Valor
88,United States,USA,Country,Military expenditure (current USD),2018,64900000000000
337,China,CHN,Country,Military expenditure (current USD),2018,25000000000000
789,Saudi Arabia,SAU,Country,Military expenditure (current USD),2018,67554666667
797,India,IND,Country,Military expenditure (current USD),2018,66510289108
821,France,FRA,Country,Military expenditure (current USD),2018,63799676593
...,...,...,...,...,...,...
8988,Timor-Leste,TLS,Country,Military expenditure (current USD),2018,20610000
9009,Liberia,LBR,Country,Military expenditure (current USD),2018,15786500
9162,Costa Rica,CRI,Country,Military expenditure (current USD),2018,0
9221,Iceland,ISL,Country,Military expenditure (current USD),2018,0
9240,Panama,PAN,Country,Military expenditure (current USD),2018,0

In [6]:
militaryDf_2018 = militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)]
militaryDf_2018[["Name", "Valor"]].sort_values(by='Valor',  ascending=False)

               Name           Valor
88    United States  64900000000000
337           China  25000000000000
789    Saudi Arabia     67554666667
797           India     66510289108
821          France     63799676593
...             ...             ...
8988    Timor-Leste        20610000
9009        Liberia        15786500
9162     Costa Rica               0
9221        Iceland               0
9240         Panama               0

[151 rows x 2 columns]

In [7]:
economyDf_2018 = economyDf[economyDf["Year"] == 2018]
economyDf_2018[["Country", "Gross Domestic Product (GDP)"]].sort_values(by='Gross Domestic Product (GDP)',  ascending=False)

                  Country  Gross Domestic Product (GDP)
10141      United States                   2.050000e+13
2004               China                   1.390000e+13
4682               Japan                   5.040000e+12
3484             Germany                   3.970000e+12
10005     United Kingdom                   2.880000e+12
...                   ...                           ...
7173    Marshall Islands                   2.217942e+08
3589            Kiribati                   1.962324e+08
6470               Nauru                   1.382036e+08
6210          Montserrat                   6.285556e+07
9764              Tuvalu                   4.804200e+07

[212 rows x 2 columns]

In [8]:
economyDf_2018_2 = economyDf_2018[["Country", "Gross Domestic Product (GDP)"]].sort_values(by='Gross Domestic Product (GDP)',  ascending=False)

In [9]:
economyDf_2018_2["Country"] = economyDf_2018_2["Country"].str.strip()
economyDf_2018_2

                Country  Gross Domestic Product (GDP)
10141     United States                  2.050000e+13
2004              China                  1.390000e+13
4682              Japan                  5.040000e+12
3484            Germany                  3.970000e+12
10005    United Kingdom                  2.880000e+12
...                 ...                           ...
7173   Marshall Islands                  2.217942e+08
3589           Kiribati                  1.962324e+08
6470              Nauru                  1.382036e+08
6210         Montserrat                  6.285556e+07
9764             Tuvalu                  4.804200e+07

[212 rows x 2 columns]

In [14]:
paises_com_maior_gasto_militar = []
militaryDf_2018[militaryDf_2018['Name'] == "China"]["Valor"].astype("Int64").values[0]

25000000000000

In [23]:
gastoPais = militaryDf_2018[militaryDf_2018['Name'] == "France"]["Valor"].astype("Int64").values[0]
paises_com_maior_gasto_militar.append({'nome': "France", 'gasto': gastoPais})

In [24]:
paises_com_maior_gasto_militar

[{'nome': 'United States', 'gasto': 64900000000000},
 {'nome': 'China', 'gasto': 25000000000000},
 {'nome': 'Saudi Arabia', 'gasto': 67554666667},
 {'nome': 'India', 'gasto': 66510289108},
 {'nome': 'France', 'gasto': 63799676593}]

In [28]:
paises_correlacionados = []
economyDf_2018_2[economyDf_2018_2['Country'] == "United States"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]

20500000000000

In [37]:
gdpPais = economyDf_2018_2[economyDf_2018_2['Country'] == "France"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]
paises_correlacionados.append({'nome': "France", 'GDP': gdpPais})

In [38]:
paises_correlacionados

[{'nome': 'United States', 'GDP': 20500000000000},
 {'nome': 'China', 'GDP': 13900000000000},
 {'nome': 'Saudi Arabia', 'GDP': 817000000000},
 {'nome': 'India', 'GDP': 2760000000000},
 {'nome': 'France', 'GDP': 2790000000000}]

In [39]:
porcentagem_do_GDP_gasto = []

In [40]:

def fazDivisao():
    for i in range(5):
        gastoMilitar = 0
        gastoMilitar = paises_com_maior_gasto_militar[i]['gasto']
        if i == 0 or i == 1:
            gastoMilitar = paises_com_maior_gasto_militar[i]['gasto']/100
        porcentagem_do_GDP_gasto.append({'nome': paises_com_maior_gasto_militar[i]['nome'], 'gasto_em porcentagem': gastoMilitar/paises_correlacionados[i]['GDP']})
fazDivisao()
print(porcentagem_do_GDP_gasto)

[{'nome': 'United States', 'gasto_em porcentagem': 0.031658536585365854}, {'nome': 'China', 'gasto_em porcentagem': 0.017985611510791366}, {'nome': 'Saudi Arabia', 'gasto_em porcentagem': 0.08268625051040392}, {'nome': 'India', 'gasto_em porcentagem': 0.024097930836231882}, {'nome': 'France', 'gasto_em porcentagem': 0.022867267596057346}]

In [41]:
porcentagem_do_GDP_gasto

[{'nome': 'United States', 'gasto_em porcentagem': 0.031658536585365854},
 {'nome': 'China', 'gasto_em porcentagem': 0.017985611510791366},
 {'nome': 'Saudi Arabia', 'gasto_em porcentagem': 0.08268625051040392},
 {'nome': 'India', 'gasto_em porcentagem': 0.024097930836231882},
 {'nome': 'France', 'gasto_em porcentagem': 0.022867267596057346}]

Dos países que mais gastam em militar, quanto por cento do pib é?

VALORES TRUNCADOS!



[{'nome': 'United States', 'gasto_em porcentagem': 0.031/3,1%},

 {'nome': 'China', 'gasto_em porcentagem': 0.017/1,7%},

 {'nome': 'Saudi Arabia', 'gasto_em porcentagem': 0.082/0,82%},

 {'nome': 'India', 'gasto_em porcentagem': 0.024/0,24%},
 
 {'nome': 'France', 'gasto_em porcentagem': 0.022/0,22%}]