In [323]:
#Pergunta:
#-- Dos países que mais gastam em militar, quanto por cento do pib é?

In [3]:
import pandas as pd

import basedosdados as bd

In [ ]:
# !pip install basedosdados
# !pip install matplotlib
# !pip install pandas

In [6]:
militaryDf = pd.read_csv("military_expenditure/militaryexpenditure.csv", sep = ";")

In [9]:
economyDf = pd.read_csv("global_economy_indicators.csv")

In [129]:
militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)]

,Name,Code,Type,Indicator Name,year,Valor
88,United States,USA,Country,Military expenditure (current USD),2018,64900000000000
337,China,CHN,Country,Military expenditure (current USD),2018,25000000000000
789,Saudi Arabia,SAU,Country,Military expenditure (current USD),2018,67554666667
797,India,IND,Country,Military expenditure (current USD),2018,66510289108
821,France,FRA,Country,Military expenditure (current USD),2018,63799676593
...,...,...,...,...,...,...
8988,Timor-Leste,TLS,Country,Military expenditure (current USD),2018,20610000
9009,Liberia,LBR,Country,Military expenditure (current USD),2018,15786500
9162,Costa Rica,CRI,Country,Military expenditure (current USD),2018,0
9221,Iceland,ISL,Country,Military expenditure (current USD),2018,0
9240,Panama,PAN,Country,Military expenditure (current USD),2018,0

In [178]:
militaryDf_2018 = militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)]
militaryDf_2018[["Name", "Valor"]].sort_values(by='Valor',  ascending=False)

               Name           Valor
88    United States  64900000000000
337           China  25000000000000
789    Saudi Arabia     67554666667
797           India     66510289108
821          France     63799676593
...             ...             ...
8988    Timor-Leste        20610000
9009        Liberia        15786500
9162     Costa Rica               0
9221        Iceland               0
9240         Panama               0

[151 rows x 2 columns]

In [180]:
economyDf_2018 = economyDf[economyDf["Year"] == 2018]
economyDf_2018[["Country", "Gross Domestic Product (GDP)"]].sort_values(by='Gross Domestic Product (GDP)',  ascending=False)

                  Country  Gross Domestic Product (GDP)
10141      United States                   2.050000e+13
2004               China                   1.390000e+13
4682               Japan                   5.040000e+12
3484             Germany                   3.970000e+12
10005     United Kingdom                   2.880000e+12
...                   ...                           ...
7173    Marshall Islands                   2.217942e+08
3589            Kiribati                   1.962324e+08
6470               Nauru                   1.382036e+08
6210          Montserrat                   6.285556e+07
9764              Tuvalu                   4.804200e+07

[212 rows x 2 columns]

In [223]:
economyDf_2018_2 = economyDf_2018[["Country", "Gross Domestic Product (GDP)"]].sort_values(by='Gross Domestic Product (GDP)',  ascending=False)

In [227]:
economyDf_2018_2["Country"] = economyDf_2018_2["Country"].str.strip()
economyDf_2018_2

                Country  Gross Domestic Product (GDP)
10141     United States                  2.050000e+13
2004              China                  1.390000e+13
4682              Japan                  5.040000e+12
3484            Germany                  3.970000e+12
10005    United Kingdom                  2.880000e+12
...                 ...                           ...
7173   Marshall Islands                  2.217942e+08
3589           Kiribati                  1.962324e+08
6470              Nauru                  1.382036e+08
6210         Montserrat                  6.285556e+07
9764             Tuvalu                  4.804200e+07

[212 rows x 2 columns]

In [263]:
paises_com_maior_gasto_militar = []
militaryDf_2018[militaryDf_2018['Name'] == "China"]["Valor"].astype("Int64").values[0]

25000000000000

In [272]:
gastoPais = militaryDf_2018[militaryDf_2018['Name'] == "France"]["Valor"].astype("Int64").values[0]
paises_com_maior_gasto_militar.append({'nome': "France", 'gasto': gastoPais})

In [274]:
paises_com_maior_gasto_militar

[{'nome': 'Estados Unidos', 'gasto': 64900000000000},
 {'nome': 'China', 'gasto': 25000000000000},
 {'nome': 'Saudi Arabia', 'gasto': 67554666667},
 {'nome': 'India', 'gasto': 66510289108},
 {'nome': 'France', 'gasto': 63799676593}]

In [283]:
paises_correlacionados = []
economyDf_2018_2[economyDf_2018_2['Country'] == "United States"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]

20500000000000

In [294]:
gdpPais = economyDf_2018_2[economyDf_2018_2['Country'] == "France"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]
paises_correlacionados.append({'nome': "France", 'GDP': gdpPais})

In [295]:
paises_correlacionados

[{'nome': 'Estados Unidos', 'GDP': 20500000000000},
 {'nome': 'China', 'GDP': 13900000000000},
 {'nome': 'Saudi Arabia', 'GDP': 817000000000},
 {'nome': 'India', 'GDP': 2760000000000},
 {'nome': 'France', 'GDP': 2790000000000}]

In [320]:
porcentagem_do_GDP_gasto = []

In [321]:

def fazDivisao():
    for i in range(5):
        porcentagem_do_GDP_gasto.append(paises_com_maior_gasto_militar[i]['gasto']/paises_correlacionados[i]['GDP'])
fazDivisao()
print(porcentagem_do_GDP_gasto)

[3.1658536585365855, 1.7985611510791366, 0.08268625051040392, 0.024097930836231882, 0.022867267596057346]

In [316]:
#isso parece BEM errado! --------------------------------------------------------------------------------------------------------------
porcentagem_do_GDP_gasto

[0.31587057010785824,
 0.556,
 12.09390913032362,
 41.49733878796238,
 43.73062919736045]

In [ ]:
militaryDf_2018 = militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)]
militaryDf_2018[["Name", "Valor"]].sort_values(by='Valor',  ascending=False)

               Name           Valor
88    United States  64900000000000
337           China  25000000000000
789    Saudi Arabia     67554666667
797           India     66510289108
821          France     63799676593
...             ...             ...
8988    Timor-Leste        20610000
9009        Liberia        15786500
9162     Costa Rica               0
9221        Iceland               0
9240         Panama               0

[151 rows x 2 columns]

In [248]:
#.astype("Int64")
#economyDf_2018_2[economyDf_2018_2['Country'] == "United States"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]
economyDf_2018_2[economyDf_2018_2['Country'] == "France"]["Gross Domestic Product (GDP)"].astype("Int64").values[0]

2790000000000

In [236]:
paises_com_maior_gasto_militar = []
economyDf_2018_2[economyDf_2018_2['Country'] == "United States"]

             Country  Gross Domestic Product (GDP)
10141  United States                  2.050000e+13

In [249]:
paises_com_maior_gasto_militar.append(economyDf_2018_2[economyDf_2018_2['Country'] == "France"]["Gross Domestic Product (GDP)"].astype("Int64").values[0])
print(paises_com_maior_gasto_militar)

[20500000000000, 13900000000000, 817000000000, 2760000000000, 2790000000000]

In [250]:
paises_com_maior_gasto_militar

[20500000000000, 13900000000000, 817000000000, 2760000000000, 2790000000000]

In [181]:
economyDf_2018_ordened = economyDf_2018[["Country", "Gross Domestic Product (GDP)"]].sort_values(by='Gross Domestic Product (GDP)',  ascending=False)

In [182]:
militaryDf_2018_ordened = militaryDf_2018[["Name", "Valor"]].sort_values(by='Valor',  ascending=False)

In [192]:
print(economyDf_2018_ordened['Country'].unique())

[' United States ' ' China ' ' Japan ' ' Germany ' ' United Kingdom '
 ' France ' ' India ' ' Italy ' ' Brazil ' ' Canada '
 ' Republic of Korea ' ' Russian Federation ' ' Australia ' ' Spain '
 ' Mexico ' ' Indonesia ' ' Netherlands ' ' Saudi Arabia ' ' Türkiye '
 ' Switzerland ' ' Poland ' ' Sweden ' ' Belgium '
 ' Iran (Islamic Republic of) ' ' Argentina ' ' Thailand ' ' Austria '
 ' Norway ' ' Nigeria ' ' United Arab Emirates ' ' South Africa '
 ' Ireland ' ' Singapore ' ' Israel ' ' China, Hong Kong SAR '
 ' Malaysia ' ' Denmark ' ' Philippines ' ' Colombia ' ' Pakistan '
 ' Bangladesh ' ' Viet Nam ' ' Chile ' ' Finland ' ' Egypt ' ' Czechia '
 ' Romania ' ' Portugal ' ' Iraq ' ' Peru ' ' New Zealand ' ' Greece '
 ' Venezuela (Bolivarian Republic of) ' ' Qatar ' ' Kazakhstan '
 ' Algeria ' ' Hungary ' ' Kuwait ' ' Ukraine ' ' Morocco ' ' Ecuador '
 ' Slovakia ' ' Puerto Rico ' ' Angola ' ' Cuba ' ' Kenya ' ' Oman '
 ' Sri Lanka ' ' Dominican Republic ' ' Ethiopia ' ' Libya ' ' Myanmar '
 ' Guatemala ' ' Luxembourg ' ' Ghana ' ' Bulgaria ' ' Panama '
 ' Uruguay ' ' Costa Rica ' ' Croatia ' ' Belarus ' " Côte d'Ivoire "
 ' U.R. of Tanzania: Mainland ' ' China, Macao SAR ' ' Lebanon '
 ' Slovenia ' ' Lithuania ' ' Uzbekistan ' ' Serbia ' ' Sudan '
 ' D.R. of the Congo ' ' Azerbaijan ' ' Jordan ' ' Tunisia '
 ' Turkmenistan ' ' Bolivia (Plurinational State of) ' ' Paraguay '
 ' Cameroon ' ' Bahrain ' ' Latvia ' ' Uganda ' ' Nepal ' ' Estonia '
 ' Yemen ' ' Zambia ' ' Iceland ' ' El Salvador ' ' Cyprus ' ' Cambodia '
 ' Trinidad and Tobago ' ' Papua New Guinea ' ' Honduras ' ' Zimbabwe '
 ' Senegal ' ' Syrian Arab Republic ' ' Bosnia and Herzegovina '
 ' Afghanistan ' " Lao People's DR " ' Georgia ' ' D.P.R. of Korea '
 ' Mali ' ' Botswana ' ' Gabon ' ' State of Palestine ' ' Burkina Faso '
 ' Jamaica ' ' Haiti ' ' Chad ' ' Malta ' ' Albania ' ' Mozambique '
 ' Mauritius ' ' Benin ' ' Madagascar ' ' Namibia ' ' Congo '
 ' Brunei Darussalam ' ' Mongolia ' ' Equatorial Guinea ' ' Nicaragua '
 ' Niger ' ' Bahamas ' ' North Macedonia ' ' Armenia ' ' Guinea '
 ' Republic of Moldova ' ' New Caledonia ' ' Malawi ' ' Rwanda '
 ' Kyrgyzstan ' ' Kosovo ' ' Tajikistan ' ' Mauritania ' ' Bermuda '
 ' Monaco ' ' Togo ' ' Liechtenstein ' ' French Polynesia ' ' Somalia '
 ' Fiji ' ' Cayman Islands ' ' Montenegro ' ' Maldives ' ' Barbados '
 ' Guyana ' ' Eswatini ' ' Sierra Leone ' ' South Sudan ' ' Suriname '
 ' Burundi ' ' Andorra ' ' Aruba ' ' Greenland ' ' Curaçao ' ' Djibouti '
 ' Liberia ' ' Lesotho ' ' Bhutan ' ' Belize '
 ' Central African Republic ' ' Saint Lucia ' ' Eritrea ' ' Cabo Verde '
 ' Gambia ' ' San Marino ' ' Zanzibar ' ' Solomon Islands '
 ' Antigua and Barbuda ' ' Seychelles ' ' Timor-Leste ' ' Guinea-Bissau '
 ' British Virgin Islands ' ' Sint Maarten (Dutch part) ' ' Comoros '
 ' Grenada ' ' Turks and Caicos Islands ' ' Saint Kitts and Nevis '
 ' Vanuatu ' ' Samoa ' ' St. Vincent and the Grenadines ' ' Dominica '
 ' Tonga ' ' Sao Tome and Principe ' ' Micronesia (FS of) '
 ' Cook Islands ' ' Anguilla ' ' Palau ' ' Marshall Islands ' ' Kiribati '
 ' Nauru ' ' Montserrat ' ' Tuvalu ']

In [196]:
print(militaryDf_2018_ordened['Name'].unique())

['United States' 'China' 'Saudi Arabia' 'India' 'France'
 'Russian Federation' 'United Kingdom' 'Germany' 'Japan' 'South Korea'
 'Italy' 'Brazil' 'Australia' 'Canada' 'Turkey' 'Spain' 'Israel' 'Iran'
 'Poland' 'Pakistan' 'Netherlands' 'Singapore' 'Colombia' 'Mongolia'
 'Algeria' 'Serbia' 'Benin' 'Croatia' 'Eswatini' 'Tunisia' 'Montenegro'
 'Nicaragua' 'Haiti' 'Indonesia' 'Madagascar' 'Kuwait' 'Belarus' 'Norway'
 'Malta' 'Thailand' 'Latvia' 'Tanzania' 'Oman' 'Mexico' 'Burundi' 'Kosovo'
 'Iraq' 'Bolivia' 'Estonia' 'Armenia' "Cote d'Ivoire" 'Papua New Guinea'
 'Malawi' 'Sweden' 'Chile' 'Vietnam' 'Cambodia' 'Slovenia' 'Greece'
 'Lesotho' 'Ethiopia' 'Belgium' 'Fiji' 'Switzerland' 'Ukraine' 'Romania'
 'Namibia' 'Cameroon' 'Portugal' 'Denmark' 'Luxembourg' 'Argentina'
 'Honduras' 'Uganda' 'Nepal' 'Bangladesh' 'Paraguay' 'Finland' 'Cyprus'
 'Philippines' 'Morocco' 'South Africa' 'Malaysia' 'Senegal' 'Austria'
 'Georgia' 'Egypt' 'Central African Republic' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Guatemala' 'Lebanon' 'Czech Republic' 'Peru' 'Gabon'
 'Ecuador' 'Chad' 'Mauritius' 'Niger' 'Seychelles' 'New Zealand'
 'Bosnia and Herzegovina' 'Ghana' 'Guinea' 'Jamaica' 'Nigeria' 'Myanmar'
 'Angola' 'Afghanistan' 'Jordan' 'Albania' 'Azerbaijan'
 'Trinidad and Tobago' 'Sri Lanka' 'Hungary' 'Kazakhstan' 'Mozambique'
 'Bahrain' 'Slovak Republic' 'Kyrgyz Republic' 'Ireland' 'North Macedonia'
 'Uruguay' 'Gambia' 'Kenya' 'Bulgaria' 'Cabo Verde' 'Sudan' 'Togo'
 'Lithuania' 'Dominican Republic' 'Guyana' 'South Sudan' 'Botswana' 'Mali'
 'Zimbabwe' 'Zambia' 'Brunei Darussalam' 'Moldova' 'Burkina Faso'
 'Sierra Leone' 'El Salvador' 'Belize' 'Mauritania' 'Rwanda' 'Somalia'
 'Timor-Leste' 'Liberia' 'Costa Rica' 'Iceland' 'Panama']

In [190]:
df_merged = pd.merge(economyDf_2018_ordened, militaryDf_2018_ordened, left_on='Country', right_on='Name', how='inner')

In [191]:
print(df_merged)

Empty DataFrame
Columns: [Country, Gross Domestic Product (GDP), Name, Valor]
Index: []

In [184]:
resposta = []
def resposta1():
    for i in range(6):
        resposta.append(economyDf_2018_ordened["Gross Domestic Product (GDP)"].astype("Int64").iloc[i]/militaryDf_2018_ordened["Valor"].astype("Int64").iloc[i])
resposta1()
print(resposta)

[0.31587057010785824, 0.556, 74.60624481864265, 59.69001267688791, 45.14129465533982, 45.44895727644858]

In [171]:
economyDf_2018_2 = economyDf_2018

In [162]:
economyDf_2018_2["Gross Domestic Product (GDP)"].astype("Int64").iloc[0]

18418848300

In [7]:
militaryDf.head()

,Name,Code,Type,Indicator Name,year,Valor
0,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2018,178000000000000
1,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2012,174000000000000
2,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2013,174000000000000
3,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2014,174000000000000
4,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2011,173000000000000

In [8]:
militaryDf.groupby('year').apply(lambda x: x.nlargest(3, 'Valor')).reset_index(drop=True)

,Name,Code,Type,Indicator Name,year,Valor
0,OECD members,OED,Regions Clubbed Economically,Military expenditure (current USD),1960,67776988377
1,High income,HIC,Regions Clubbed Economically,Military expenditure (current USD),1960,67365066350
2,Post-demographic dividend,PST,Regions Clubbed Economically,Military expenditure (current USD),1960,63331308050
3,OECD members,OED,Regions Clubbed Economically,Military expenditure (current USD),1961,71614957875
4,High income,HIC,Regions Clubbed Economically,Military expenditure (current USD),1961,71298783053
...,...,...,...,...,...,...
172,High income,HIC,Regions Clubbed Economically,Military expenditure (current USD),2017,113000000000000
173,OECD members,OED,Regions Clubbed Economically,Military expenditure (current USD),2017,105000000000000
174,World,WLD,Regions Clubbed Geographically,Military expenditure (current USD),2018,178000000000000
175,High income,HIC,Regions Clubbed Economically,Military expenditure (current USD),2018,120000000000000
176,OECD members,OED,Regions Clubbed Economically,Military expenditure (current USD),2018,112000000000000

In [23]:
economyDf["PIB"] = economyDf["Gross National Income(GNI) in USD"]

In [24]:
df_PIB = economyDf.groupby("Country").agg({"PIB": "sum"})

In [25]:
#pega o PIB de cada pais
print(df_PIB)

                                      PIB
Country
 Afghanistan                 3.711837e+11
 Albania                     3.130572e+11
 Algeria                     4.203175e+12
 Andorra                     8.942919e+10
 Angola                      1.726338e+12
...                                   ...
 Yemen Democratic (Former)   7.408355e+09
 Yugoslavia (Former)         1.234778e+12
 Zambia                      4.391854e+11
 Zanzibar                    2.278377e+10
 Zimbabwe                    5.472858e+11

[220 rows x 1 columns]

In [43]:
economyDf.groupby("Country").agg({"PIB": "sum"})

                                      PIB
Country
 Afghanistan                 3.711837e+11
 Albania                     3.130572e+11
 Algeria                     4.203175e+12
 Andorra                     8.942919e+10
 Angola                      1.726338e+12
...                                   ...
 Yemen Democratic (Former)   7.408355e+09
 Yugoslavia (Former)         1.234778e+12
 Zambia                      4.391854e+11
 Zanzibar                    2.278377e+10
 Zimbabwe                    5.472858e+11

[220 rows x 1 columns]

In [55]:
#Quanto cada pais gastou em 2018 em militar.
militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)][["Name", "Valor"]]
military_2018_expand = militaryDf[(militaryDf["Type"] == "Country") & (militaryDf["year"] == 2018)][["Name", "Valor"]]

In [56]:
#O PIB (ou GDP) de cada pais em 2018
economyDf[economyDf["Year"] == 2018][["Country", "Gross Domestic Product (GDP)"]]
economy_2018_GDP = economyDf[economyDf["Year"] == 2018][["Country", "Gross Domestic Product (GDP)"]]

In [76]:
#formata o numero para poder-se fazer o calculo
#def formatar_numero(numero):
#    return '{:.0f}'.format(numero)
#economy_2018_GDP["Gross Domestic Product (GDP)"] = economy_2018_GDP["Gross Domestic Product (GDP)"].apply(formatar_numero)

#a converção transforma os numeros em string, deve-se transformar para int64 agora
#economy_2018_GDP["Gross Domestic Product (GDP)"] = economy_2018_GDP["Gross Domestic Product (GDP)"].astype('int64')

In [82]:
military_2018_expand.sort_values(by='Name')

               Name           Valor
6643    Afghanistan      1980862633
6854        Albania      1804887251
2093        Algeria      9583724288
6638         Angola      1983613748
4493      Argentina      4144991771
...             ...             ...
88    United States  64900000000000
7934        Uruguay      1168130814
3641        Vietnam      5500000000
8507         Zambia       378025431
8475       Zimbabwe       420364000

[151 rows x 2 columns]

In [81]:
economy_2018_GDP

                                    Country  Gross Domestic Product (GDP)
48                             Afghanistan                    18418848300
100                                Albania                    15156439968
152                                Algeria                   175000000000
204                                Andorra                     3218419456
256                                 Angola                   101000000000
...                                     ...                           ...
10277                           Uzbekistan                    52633143570
10329   Venezuela (Bolivarian Republic of)                   204000000000
10381                                Samoa                      894065272
10435                                Yemen                    26671579499
10508                               Zambia                    26311984736

[212 rows x 2 columns]

In [88]:
economyDf2[economyDf2["Year"] == 2018][["Country","Gross National Income(GNI) in USD"]]

                                    Country  Gross National Income(GNI) in USD
48                             Afghanistan                        1.861026e+10
100                                Albania                        1.513800e+10
152                                Algeria                        1.710000e+11
204                                Andorra                        3.218419e+09
256                                 Angola                        9.307520e+10
...                                     ...                                ...
10277                           Uzbekistan                        5.413970e+10
10329   Venezuela (Bolivarian Republic of)                        1.730000e+11
10381                                Samoa                        8.575964e+08
10435                                Yemen                        2.658183e+10
10508                               Zambia                        2.588455e+10

[212 rows x 2 columns]