In [3]:
import pandas as pd

import basedosdados as bd

In [ ]:
!pip install basedosdados
# !pip install matplotlib
# !pip install pandas

In [3]:
energia = pd.read_csv("consumoEnergia.csv")

In [30]:
clima = pd.read_csv("climate_change_indicators.csv")

In [10]:
teste1 = pd.read_csv("Diabetes Dataset By Age Standardized Countries.csv")

In [11]:
teste1.head()

,Country/Region/World,ISO,Sex,Year,Age-standardised diabetes prevalence,Lower 95% uncertainty interval,Upper 95% uncertainty interval
0,Afghanistan,AFG,Men,1980,0.044712,0.015339,0.094918
1,Afghanistan,AFG,Men,1981,0.046114,0.016883,0.093777
2,Afghanistan,AFG,Men,1982,0.047601,0.018745,0.094018
3,Afghanistan,AFG,Men,1983,0.049173,0.020375,0.093950
4,Afghanistan,AFG,Men,1984,0.050834,0.022269,0.093679

In [4]:
energia.head()

    ano  mes sigla_uf tipo_consumo  numero_consumidores     consumo
0  2004    1       RO        Total                  NaN   112812.00
1  2004    1       AC        Total                  NaN    34840.05
2  2004    1       AM        Total                  NaN   274773.00
3  2004    1       RR        Total                  NaN    31695.63
4  2004    1       PA        Total                  NaN  1011353.04

In [29]:
clima

,Ano,Nº Convênio ou TED,Nome do Projeto,Instituição Convenente,UF,Tipo de Instituição,Data de início da da Vigência,Data de Fim da Vigência\n,Valor concedido,Valor contrapartida,Valor Total
0,2011,760850/2011,Implantação dos Módulos de Manejo Sustentável ...,Secretaria de Meio Ambiente e Sustentabilidade...,PE,Estadual,23/12/2011,31/12/2021,"R$ 2.443.860,00","R$ 271.540,00","R$ 2.715.400,00"
1,2011,766282/2011,Transferência de Tecnologia: Implanatação de U...,Secretaria de Desenvolvimento Econômico e Tecn...,PI,Estadual,30/12/2011,20/05/2019,"R$ 564.300,00","R$ 62.700,00","R$ 627.000,00"
2,2011,761788/2011,Recuperação de área degradada em processo de d...,Fundação Cearense de Metereologia e Recursos H...,CE,Estadual,23/12/2011,05/12/2016,"R$ 198.873,00","R$ 23.692,00","R$ 222.565,00"
3,2011,TC 09/2011,Ação integrada de determinação da vulnerabilid...,Universidade Federal do Rio Grande - FURG,RS,Federal,16/12/2011,31/08/2013,"R$ 239.000,00","R$ 0,00","R$ 239.000,00"
4,2011,TC 08/2011,Apoio à implantação do Sistema de Monitorament...,Universidade Federal do Rio Grande- FURG,"RS , SC, PR, SP",Federal,16/12/2011,31/12/2016,"R$ 1.964.297,16","R$ 0,00","R$ 1.964.297,16"
...,...,...,...,...,...,...,...,...,...,...,...
58,2018,880160/2018,Recuperação da Área de Preservação Permanente ...,Município de Vitória da Conquista,BA,Municipal,20/12/2018,31/08/2022,"R$ 473.349,69","R$ 6.000,00","R$ 479.349,69"
59,2018,880163/2018,Implementação de iniciativas socioambientais d...,Município de Recife,PE,Municipal,20/12/2018,30/05/2022,"R$ 471.361,91","R$ 7.629,52","R$ 478.991,43"
60,2020,905646/2020,Ações concretas para encerramento de lixões no...,Consórcio Intermunicipal da Região Centro Lest...,RO,Municipal,28/12/2020,30/11/2025,"R$ 12.040.351,00","R$ 12.054,00","R$ 12.052.405,00"
61,2021,919890/2021,Implantação do Parque Urbano Bem-Te-Vi no Muni...,Município de Fagundes Varela,RS,Municipal,27/12/2021,27/12/2022,"R$ 658.617,31","R$ 99.778,25","R$ 758.395,56"
62,2022,936280/2022,Potencializar o desenvolvimento sustentável e ...,Município de Osasco,SP,Municipal,06/12/2022,30/06/2024,"R$ 525.980,00","R$ 67.000,00","R$ 592.980,00"

In [17]:
energia[energia.numero_consumidores.notnull()]

        ano  mes sigla_uf tipo_consumo  numero_consumidores    consumo
11664  2004    1       RO  Residencial             258610.0   44271.00
11665  2004    1       AC  Residencial             103396.0   15778.13
11666  2004    1       AM  Residencial             480619.0   84473.00
11667  2004    1       RR  Residencial              66138.0   15606.65
11668  2004    1       PA  Residencial            1049108.0  141170.69
...     ...  ...      ...          ...                  ...        ...
34825  2021    6       RS       Outros             383255.0  438477.04
34826  2021    6       MS       Outros             108220.0  109592.46
34827  2021    6       MT       Outros             217344.0  189573.50
34828  2021    6       GO       Outros             234909.0  318616.28
34829  2021    6       DF       Outros              17257.0  115386.76

[22575 rows x 6 columns]

In [25]:
reservatorioDf = bd.read_table(dataset_id='br_ana_reservatorios',
table_id='sin', billing_project_id="idReservatorio")

BaseDosDadosInvalidProjectIDException:
You are using an invalid `billing_project_id`.
Make sure you set it to the Project ID available in your Google Cloud console home page at https://console.cloud.google.com/home/dashboard