# PERGUNTA: Porcentagem de conflitos que aconteceram depois do aquisição da bomba nuclear pelo país

In [1]:
import pandas as pd

In [ ]:
# !pip install basedosdados
# !pip install matplotlib
# !pip install pandas

In [2]:
nuclear_stockpiles = pd.read_csv('nuclear_weapon/nuclear_weapons_stockpiles.csv', delimiter=',')

In [3]:
conflicts = pd.read_csv('conflicts_and_wars_202403110030.csv', delimiter=',')

In [ ]:
conflicts

In [4]:
display(conflicts.tail(),nuclear_stockpiles.tail())

,Date,Headline,Conflict Type,Country,Region,Description,Sources
922,2019,One Israeli killed and two others injured at a...,Trigger,Palestine,Western Asia,"A homemade bomb explodes at a spring, killing ...",Chronicle News Service 2019
923,2019,"50,000 people flee their homes in central Mali...",Trigger,Mali,Sub-Saharan Africa,"A series of massacres in central Mali, fueled ...",Webb 2019
924,2019,Violence in northwest Syria damages civilian i...,Casualty,Syria,Western Asia,From January through July 2019 violence in nor...,US Agency for International Development 2019
925,2019,"Shrapnel damages a water pipeline, leaving mor...",Casualty,Ukraine,Eastern Europe,Shrapnel from an exploding shells damages a pi...,UNICEF 2019
926,2022,Conflict in Ukraine,Weapon,"Keiv,Ukraine",Eastern Europe,The Russo-Ukrainian War is an ongoing war prim...,UNICEF 2020

      country_name  year  nuclear_weapons_stockpile
775  United States  2018                       3785
776  United States  2019                       3805
777  United States  2020                       3750
778  United States  2021                       3708
779  United States  2022                       3708

In [5]:
country_to_region = dict(zip(conflicts['Country'], conflicts['Region']))

In [6]:
nuclear_stockpiles['Region'] = nuclear_stockpiles['country_name'].map(country_to_region)
nuclear_stockpiles.tail()

      country_name  year  nuclear_weapons_stockpile         Region
775  United States  2018                       3785  North America
776  United States  2019                       3805  North America
777  United States  2020                       3750  North America
778  United States  2021                       3708  North America
779  United States  2022                       3708  North America

In [7]:
nuclear_stockpiles

      country_name  year  nuclear_weapons_stockpile         Region
0            China  1945                          0   Eastern Asia
1            China  1946                          0   Eastern Asia
2            China  1947                          0   Eastern Asia
3            China  1948                          0   Eastern Asia
4            China  1949                          0   Eastern Asia
..             ...   ...                        ...            ...
775  United States  2018                       3785  North America
776  United States  2019                       3805  North America
777  United States  2020                       3750  North America
778  United States  2021                       3708  North America
779  United States  2022                       3708  North America

[780 rows x 4 columns]

In [8]:
nuclear_stockpiles[nuclear_stockpiles["nuclear_weapons_stockpile"] != 0]

      country_name  year  nuclear_weapons_stockpile         Region
19           China  1964                          1   Eastern Asia
20           China  1965                          5   Eastern Asia
21           China  1966                         20   Eastern Asia
22           China  1967                         25   Eastern Asia
23           China  1968                         35   Eastern Asia
..             ...   ...                        ...            ...
775  United States  2018                       3785  North America
776  United States  2019                       3805  North America
777  United States  2020                       3750  North America
778  United States  2021                       3708  North America
779  United States  2022                       3708  North America

[462 rows x 4 columns]

In [9]:
nuclear_nonzero = nuclear_stockpiles[nuclear_stockpiles["nuclear_weapons_stockpile"] != 0]

In [40]:
periodo_pais_tem_arma_nuclear = nuclear_nonzero.groupby("country_name")["year"].agg(['first', 'last'])
periodo_pais_tem_arma_nuclear.head()

              first  last
country_name
China          1964  2022
France         1964  2022
India          1998  2022
Israel         1967  2022
North Korea    2015  2022

In [32]:
#Primeiro: pega o primeiro pais da lista de 'periodo_pais_tem_arma_nuclear'
#Segundo: Retira todos os anos com 'BC' e 'AD'
#Terceiro: Retira todos os confitos com year1-year2 e transforma apenas para year1
#Quarto: pega todos as datas com um numero maior ou igual do que o primeiro ano de 'periodo_pais_tem_arma_nuclear' e menor e igual ultimo ano de 'periodo_pais_tem_arma_nuclear'


chinaConflicts = conflicts[conflicts["Country"].str.contains('China')]
chinaConflicts = chinaConflicts[~chinaConflicts['Date'].str.endswith(('BC', 'AD'))]
chinaConflicts['Date'] = chinaConflicts['Date'].str.slice(0, 4)
chinaConflicts['Date'] = chinaConflicts['Date'].astype(int)
chinaConflicts = chinaConflicts[(chinaConflicts["Date"] >= periodo_pais_tem_arma_nuclear.values[0][0]) & (chinaConflicts["Date"] <= periodo_pais_tem_arma_nuclear.values[0][1])]
chinaConflicts

,Date,Headline,Conflict Type,Country,Region,Description,Sources
104,1970,Violent conflicts over use of China's Zhang River,Trigger,China,Eastern Asia,Conflicts over excessive water withdrawals and...,China Water Resources Daily 2002
117,1976,Militia Chief shot in China's Zhang River conf...,Trigger,China,Eastern Asia,A local militia chief is shot to death in a cl...,China Water Resources Daily 2002
167,1991,Chinese villages exhange mortar fire over wate...,Trigger,China,Eastern Asia,"In December 1991, Huanglongkou village and Qia...",China Water Resources Daily 2002
174,1992,Canal on China's Zhang River bombed,"Trigger, Casualty",China,Eastern Asia,"In August 1992, bombs are set off along a Zhan...",China Water Resources Daily 2002
177,1992,"Dispute over control of Zhang River, China lea...","Trigger, Casualty",China,Eastern Asia,"In August 1992, farmers of Baishan village in ...",Pietz 2015
220,1999,Chinese farmers fight over water,Trigger,China,Eastern Asia,"Around the Chinese New Year, farmers from Hebe...",China Water Resources Daily 2002
248,2000,Riots in northern China,"Trigger, Casualty",China,Eastern Asia,Civil unrest erupts over use and allocation of...,Pottinger 2000
264,2001,Chinese protestors block canal,"Trigger, Weapon",China,Eastern Asia,In an act to protest the destruction of fisher...,China Ministry of Water Resources 2001
329,2003,A man poisons a drinking water reservoir in He...,Weapon,China,Eastern China,A man who sells water purifiers poisons a rese...,Mohtadi and Murshid 2006
341,2004,Police kill dam protestor in China,Trigger,China,Eastern Asia,Tens of thousands of farmers stage a sit-in ag...,Lim 2004
342,2004,Taiwan to target China's water in defense?,Casualty,China,Eastern Asia,A 2004 Pentagon report on China's military cap...,China Daily 2004a
381,2006,Dam protester executed in China,Trigger,China,Eastern Asia,Chinese authorities execute a man who took par...,British Broadcasting Corporation (BBC) 2006d
432,2008,China cracks down on Tibet,Trigger,China,Eastern Asia,China launches a political crackdown in Tibet....,Sharife 2008
529,2012,Chinese protestors challenge Japanese factory ...,Trigger,China,Eastern Asia,"In July, thousands of protesters take to the s...",Economy 2013
559,2013,Chinese dam builders killed after attack by Uy...,"Trigger, Casualty",China,Eastern Asia,Hundreds of Uyghurs are arrested following an ...,Hoshur 2013

In [41]:
#Primeiro: pega o primeiro pais da lista de 'periodo_pais_tem_arma_nuclear'
#Segundo: Retira todos os anos com 'BC' e 'AD'
#Terceiro: Retira todos os confitos com year1-year2 e transforma apenas para year1
#Quarto: pega todos as datas com um numero maior ou igual do que o primeiro ano de 'periodo_pais_tem_arma_nuclear' e menor e igual ultimo ano de 'periodo_pais_tem_arma_nuclear'


FranceConflicts = conflicts[conflicts["Country"].str.contains('France')]
FranceConflicts = FranceConflicts[~FranceConflicts['Date'].str.endswith(('BC', 'AD'))]
FranceConflicts['Date'] = FranceConflicts['Date'].str.slice(0, 4)
FranceConflicts['Date'] = FranceConflicts['Date'].astype(int)
FranceConflicts = FranceConflicts[(FranceConflicts["Date"] >= periodo_pais_tem_arma_nuclear.values[1][0]) & (FranceConflicts["Date"] <= periodo_pais_tem_arma_nuclear.values[1][1])]
FranceConflicts

,Date,Headline,Conflict Type,Country,Region,Description,Sources
228,1999,Water supply pipeline is attacked in France,Casualty,France,Western Europe,Explosives are placed along a water supply pip...,France-Inter Radio Network 1999
232,1999,"Multiple attacks on utilities, including water...",Casualty,France,Western Europe,Reports find at least three attacks on utiliti...,RAND Database of Worldwide Terrorism Incidents...
233,1999,"Bomb explodes on an island, cutting off water ...",Casualty,France,Western Europe,"A bomb explodes on the island of Cavallo, off ...",RAND Database of Worldwide Terrorism Incidents...
242,2000,French workers pollute river over labor dispute,Casualty,France,Western Europe,"In July, workers at the Cellatex chemical plan...",Christian Science Monitor 2000
251,2000,Water company is bombed to demand release of p...,Casualty,France,Western Europe,"A water company office in Ustaritz, France is ...",RAND Database of Worldwide Terrorism Incidents...
303,2002,Bomb explodes in water utility office building,Casualty,France,Western Europe,A powerful bomb explodes in a water utility of...,RAND Database of Worldwide Terrorism Incidents...

In [57]:
conflicts[conflicts["Country"].str.contains('France')].count().values[0]

8

In [59]:
#Primeiro: pega o primeiro pais da lista de 'periodo_pais_tem_arma_nuclear'
#Segundo: Retira todos os anos com 'BC' e 'AD'
#Terceiro: Retira todos os confitos com year1-year2 e transforma apenas para year1
#Quarto: pega todos as datas com um numero maior ou igual do que o primeiro ano de 'periodo_pais_tem_arma_nuclear' e menor e igual ultimo ano de 'periodo_pais_tem_arma_nuclear'


IndiaConflicts = conflicts[conflicts["Country"].str.contains('India')]
IndiaConflicts = IndiaConflicts[~IndiaConflicts['Date'].str.endswith(('BC', 'AD'))]
IndiaConflicts['Date'] = IndiaConflicts['Date'].str.slice(0, 4)
IndiaConflicts['Date'] = IndiaConflicts['Date'].astype(int)
IndiaConflicts = IndiaConflicts[(IndiaConflicts["Date"] >= periodo_pais_tem_arma_nuclear.values[2][0]) & (IndiaConflicts["Date"] <= periodo_pais_tem_arma_nuclear.values[2][1])]
IndiaConflicts

,Date,Headline,Conflict Type,Country,Region,Description,Sources
224,1999,"Water riots in Gujarat, India",Trigger,India,Southern Asia,Three people die and 20 are injured in Decembe...,Financial Times Global Water Report (FTGWR) 2000
281,2002,"Deadly clash in Kashmir, India",Trigger,India,Southern Asia,Two people are killed and 25 others injured in...,Agence France-Presse (AFP) 2002
284,2002,Violence over Cauvery River in India,Trigger,India,Southern Asia,Continuing violence over the allocation of the...,"Hindu, The 2002a"
289,2002,Indian military protecting reservoir attacked ...,Casualty,India,Southern Asia,A camp of the Assam Rifles of the Indian milit...,South Asian Intelligence Review 2002
325,2003,Group bombs a rural water supply office and ot...,Casualty,India,Southern Asia,A rural water supply office building is blown ...,RAND Database of Worldwide Terrorism Incidents...
340,2004,Terrorists bomb water pipe in India,Casualty,India,Southern Asia,Twelve Indian security forces are killed by an...,Times News Network (TNN) 2004
345,2004,Police kill water protestors in India,Trigger,India,Southern Asia,Four people are killed in October and more tha...,Indo-Asian News Service 2004
395,2006,200 people attack home of Water Resource Minister,Casualty,India,Southern Asia,A group of around 200 people attack the home r...,RAND Database of Worldwide Terrorism Incidents...
400,2006,Two bombs explode at a water collection point,Casualty,India,Southern Asia,Two bombs detonate at a water collection point...,RAND Database of Worldwide Terrorism Incidents...
409,2007,"Injuries at protest in Orissa, India",Trigger,India,Southern Asia,Thousands of farmers breach security and storm...,Statesman News Service 2007
452,2009,Drought and water inequities spark killings India,Trigger,India,Southern Asia,A family in Madhya Pradesh state in India is k...,Singh 2009
453,2009,Man killed in Mumbai protest over water cuts,Trigger,India,Southern Asia,Police clash with hundreds of Mumbai residents...,Chandran 2009
470,2010,Violent water protest in India,Trigger,India,Southern Asia,A protest about water shortages in the Nationa...,Gosh 2010
472,2010,Protestors killed and injured in,Trigger,India,Southern Asia,At least three deaths and dozens of injuries a...,"Hindu, The 2011"
479,2010,Militants blow up pump houses belonging to the...,Casualty,India,Southern Asia,"On Monday, in the Karrampada area of West Sing...",National Consortium for the Study of Terrorism...
496,2011,Unidentified militants blow up a water pump,Casualty,India,Southern Asia,"In Mogahataburu village in West Singhbhum, Jha...",National Consortium for the Study of Terrorism...
504,2012,Injuries during protest over dam releases in I...,Trigger,India,Southern Asia,Thousands of farmers in Karnataka try to preve...,Walton 2012
505,2012,Violent protests over water shortages in New D...,Trigger,India,Southern Asia,Scuffles and protests break out around New Del...,Reuters 2012b
506,2012,Pakistani militants attack water systems in Ka...,"Trigger, Casualty","India, Pakistan",Southern Asia,Violence erupts in the latest event in the dis...,Ul Hassan 2012
531,2012,Militants block work at the Wullar Dam constru...,Trigger,"India, Pakistan",Southern Asia,Militants block work at the Wular Conservation...,Hamid 2012a
534,2012,Women assaulted for attempting to take well wa...,Trigger,India,Southern Asia,Women from the village of Rasooh are reportedl...,Sharma 2014
557,2013,Water shortage leads to local fighting in India,Trigger,India,Southern Asia,An acute water shortage in Ahmednagar district...,Express News Service 2013
568,2013,Pakistan and India clash over Siachen Glacier,Trigger,"India, Pakistan",Southern Asia,Tensions continue between India and Pakistan o...,Press Trust of India (PTI) 2013
578,2013,Water tanker in Myanmar is attacked,Casualty,India,Southern Asia,Employees of the private company Assam Rifles ...,Laithangbam 2013
595,2014,Upper caste women reportedly restrict access t...,Weapon,India,Southern Asia,Tensions revive in the area of Jammu and Kashm...,Sharma 2014
601,2014,Armed bandits force villages to pay a 'water tax',Trigger,India,Southern Asia,Drought in northern India causes local bandits...,Banerjee 2014
624,2014,Water construction equipment damaged,"Trigger, Casualty",India,Southern Asia,"Maoists in Dharambandha, India claim responsib...","New Indian Express, The 2014"
687,2016,Scarce water supplies in drought regions of In...,Trigger,India,Southern Asia,Scarce water supplies in drought-hit regions o...,Niazi 2016a
690,2016,Protests against the building of dams on the B...,Trigger,India,Southern Asia,Protests against the building of dams on the B...,"Third Pole, The 2016"
691,2016,"Riots over water in Bangalore, India",Trigger,India,Southern Asia,At least two people die and others are injured...,"Mortimer 2016, Gowen 2016"
694,2016,18 killed and 200 injured after reopening of t...,"Weapon, Casualty",India,Southern Asia,At least 18 people are killed and 200 injured ...,Sethi 2016
696,2016,Armed gaurds clash with farmers over drought-s...,Trigger,India,Southern Asia,Armed guards and farmers clash over access to ...,"Das 2016, Niazi 2016b"
708,2016,Attack on a local dam in India,Casualty,India,Southern Asia,A group of heavily armed militants fire blank ...,Nath 2016
712,2016,Water shortage led to clashes between two grou...,Trigger,India,Southern Asia,Water shortage led to clashes between two grou...,Times of India 2016
820,2017,Police kill five farmers during protests over ...,Trigger,India,Southern Asia,Water shortages due to drought and mismanageme...,Wu 2017
831,2018,Water shortages in India lead to deadly fights...,Trigger,India,Southern Asia,Lack of water in cities across India -- due to...,Abi-Habib and Kumar 2018
898,2019,One death reported in a fight over water in so...,Trigger,India,Southern Asia,"In Tamil Nadu, India, a 33 year old man dies a...",Agence France-Presse (AFP) 2019b
899,2019,One man stabs six others in a fight over water...,Trigger,India,Southern Asia,"In Ranchi, India, one man stabs six other peop...",Agence France-Presse (AFP) 2019b
901,2019,India responds to deadly attack by threatening...,Weapon,India,Southern Asia,An attack by a Pakistan-based group that kille...,Al Jazeera 2019
902,2019,A man is stabbed by his neighbor over a water ...,Trigger,India,Southern Asia,A man is stabbed by his neighbor over a water ...,British Broadcasting Corporation (BBC) 2019
908,2019,A grandmother and her grandson are beaten when...,Trigger,India,Southern Asia,A grandmother and her grandson in a small vill...,Indo-Asian News Service 2019
913,2019,"Numerous fights, including attacks on water ta...",Trigger,India,Southern Asia,"Water shortages in Madhya Pradesh, India inten...",Times of India 2019
914,2019,Two men are seriously injured in clash over ac...,Trigger,India,Southern Asia,Two men are seriously injured in a clash over ...,Times of India 2019

In [60]:
#Primeiro: pega o primeiro pais da lista de 'periodo_pais_tem_arma_nuclear'
#Segundo: Retira todos os anos com 'BC' e 'AD'
#Terceiro: Retira todos os confitos com year1-year2 e transforma apenas para year1
#Quarto: pega todos as datas com um numero maior ou igual do que o primeiro ano de 'periodo_pais_tem_arma_nuclear' e menor e igual ultimo ano de 'periodo_pais_tem_arma_nuclear'


IsraelConflicts = conflicts[conflicts["Country"].str.contains('Israel')]
IsraelConflicts = IsraelConflicts[~IsraelConflicts['Date'].str.endswith(('BC', 'AD'))]
IsraelConflicts['Date'] = IsraelConflicts['Date'].str.slice(0, 4)
IsraelConflicts['Date'] = IsraelConflicts['Date'].astype(int)
IsraelConflicts = IsraelConflicts[(IsraelConflicts["Date"] >= periodo_pais_tem_arma_nuclear.values[3][0]) & (IsraelConflicts["Date"] <= periodo_pais_tem_arma_nuclear.values[3][1])]
IsraelConflicts

,Date,Headline,Conflict Type,Country,Region,Description,Sources
97,1967,Israel attacks Jordan water works,Casualty,"Israel, Jordan",Western Asia,Israel destroys the Arab diversion works on th...,Gleick 1993
101,1969,Israel destroys Jordan canals,Casualty,"Israel, Jordan",Western Asia,"Israel, suspicious that Jordan is over-diverti...",Samson and Charrier 1997
138,1983,Terrorists plot to poison Israel water,Weapon,Israel,Western Asia,The Israeli government reports that it had unc...,Douglass and Livingstone 1987
155,1989,Bomb discovered near a water pumping station p...,"Casualty, Weapon",Israel,Western Asia,A large amount of dynamite is discovered near ...,RAND Database of Worldwide Terrorism Incidents...
205,1998,Water line attack leaves 11 communities withou...,Casualty,Israel,Western Asia,Eleven communities in the Negev area of Israel...,RAND Database of Worldwide Terrorism Incidents...
261,2001,Palestinians destroy water supply to Israeli s...,Casualty,"Israel, Palestine",Western Asia,Palestinians destroy water supply pipelines to...,Israel Line 2001a
379,2005,Rocket lands near an Israeli national water co...,Casualty,Israel,Western Asia,In one of two incidents in Israel on this day ...,National Consortium for the Study of Terrorism...
385,2006,"Lebanon, Israel target water infrastructure in...",Casualty,"Israel, Lebanon",Western Asia,Hezbollah rockets damage a wastewater plant in...,Science 2006
405,2006,"Rocket attack damages a Mekorot water station,...",Casualty,Israel,Western Asia,Palestinian Islamic Jihad (PIJ) claims respons...,National Consortium for the Study of Terrorism...
487,2011,Israel destroys Palestinians' water pumps and ...,Casualty,"Palestine,?Israel",Western Asia,Israel's military destroys nine water tanks in...,Aburawa 2011
488,2011,Israeli settlers destroy wells in attack on We...,Casualty,"Palestine, Israel",Western Asia,"Israelis from nearby settlements attack Qasra,...",Bsharat and Ramadan 2011

In [61]:
#Primeiro: pega o primeiro pais da lista de 'periodo_pais_tem_arma_nuclear'
#Segundo: Retira todos os anos com 'BC' e 'AD'
#Terceiro: Retira todos os confitos com year1-year2 e transforma apenas para year1
#Quarto: pega todos as datas com um numero maior ou igual do que o primeiro ano de 'periodo_pais_tem_arma_nuclear' e menor e igual ultimo ano de 'periodo_pais_tem_arma_nuclear'


NorthKoreaConflicts = conflicts[conflicts["Country"].str.contains('North Korea')]
NorthKoreaConflicts = NorthKoreaConflicts[~NorthKoreaConflicts['Date'].str.endswith(('BC', 'AD'))]
NorthKoreaConflicts['Date'] = NorthKoreaConflicts['Date'].str.slice(0, 4)
NorthKoreaConflicts['Date'] = NorthKoreaConflicts['Date'].astype(int)
NorthKoreaConflicts = NorthKoreaConflicts[(NorthKoreaConflicts["Date"] >= periodo_pais_tem_arma_nuclear.values[4][0]) & (NorthKoreaConflicts["Date"] <= periodo_pais_tem_arma_nuclear.values[4][1])]
NorthKoreaConflicts

Empty DataFrame
Columns: [Date, Headline, Conflict Type, Country, Region, Description, Sources]
Index: []

In [54]:
PorcentagemDeConflitosAposConseguirArmaNuclear = []

In [55]:
resposta = chinaConflicts.count().values[0]/conflicts[conflicts["Country"].str.contains('China')].count().values[0]
PorcentagemDeConflitosAposConseguirArmaNuclear.append(resposta * 100)
PorcentagemDeConflitosAposConseguirArmaNuclear

[71.42857142857143]

In [58]:
resposta = FranceConflicts.count().values[0]/conflicts[conflicts["Country"].str.contains('France')].count().values[0]
PorcentagemDeConflitosAposConseguirArmaNuclear.append(resposta * 100)
PorcentagemDeConflitosAposConseguirArmaNuclear

[71.42857142857143, 75.0]

In [62]:
resposta = IndiaConflicts.count().values[0]/conflicts[conflicts["Country"].str.contains('India')].count().values[0]
PorcentagemDeConflitosAposConseguirArmaNuclear.append(resposta * 100)
PorcentagemDeConflitosAposConseguirArmaNuclear

[71.42857142857143, 75.0, 93.47826086956522]

In [63]:
resposta = IsraelConflicts.count().values[0]/conflicts[conflicts["Country"].str.contains('Israel')].count().values[0]
PorcentagemDeConflitosAposConseguirArmaNuclear.append(resposta * 100)
PorcentagemDeConflitosAposConseguirArmaNuclear

[71.42857142857143, 75.0, 93.47826086956522, 57.89473684210527]

In [64]:
resposta = NorthKoreaConflicts.count().values[0]/conflicts[conflicts["Country"].str.contains('North Korea')].count().values[0]
PorcentagemDeConflitosAposConseguirArmaNuclear.append(resposta * 100)
PorcentagemDeConflitosAposConseguirArmaNuclear

[71.42857142857143, 75.0, 93.47826086956522, 57.89473684210527, 0.0]

Porcentagem de conflitos que aconteceram depois do aquisição da bomba nuclear pelo pais, na order CHINA, FRANÇA, INDIA, ISRAEL, KOREA DO NORTE:

VALORES TRUNCADOS!


[71.42%, 75.0%, 93.47%, 57.89%, 0.0%]